# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data (Crucial: Don't upload your local database to the global server)
database.json

# Environment variables (If you add API keys later)
.env

# OS-specific files
.DS_Store
Thumbs.db
